[MASTER]
fail-under=9.9
ignore-paths=
    tests/.*,
    benchmark/.*
ignore=
    example.py

disable=
    too-many-positional-arguments,
    too-many-arguments,
    too-many-public-methods,
    bad-indentation

[FORMAT]
max-line-length=120
